@import '../fonts/fonts';
@import 'blocks/variables';
@import 'libs/libs';
@import 'blocks/blocks';
@import 'custom-blocks/custom-blocks';


.no-scroll{
    overflow: hidden;
} 
 
.hide{
    
    &_on-tablet{
        @include tablet{   
            display: none;  
        }
    }
 
    &_on-mobile{
        @include mobile{
            display: none;  
        } 
    } 
    
    &_on-desktop{
        @include desktop{ 
            display: none;
        }
    }
    
    &_on-tablet-and-desktop{
        
        @media (min-width: $tablet-width){
            display: none;
        }
    }
}