$black: #000;
$white: #FFF;
$purple: #B05BFF;
$soft-purple: #C799F4;
$light-purple: #E5CEFC;
$yellow: #ffec9f;

//--------DEVICE SIZE--------
$small-mobile: 400px;
$tablet-width: 648px;
$desktop-width: 1023px;
$container-width: 1244px;

$normal-height: 900px;
$small-height: 700px;

//WIDTH

@mixin small-mobile {
  @media (max-width: $small-mobile) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop-width + 1px}) {
    @content;
  }
}

@mixin container {
  @media (min-width: #{$desktop-width}) and (max-width: #{$container-width + 60px}) {
    @content;
  }
}


@mixin medium-desktop {
  @media (max-width: 1300px) {
    @content;
  }
}

//HEIGHT
@mixin big-height {
  @media (min-height: #{$normal-height + 1px}) {
    @content;
  }
}

@mixin medium-height {
  @media (max-height: #{$normal-height}) {
    @content;
  }
}

@mixin small-height {
  @media (max-height: #{$small-height}) {
    @content;
  }
}
