@import '../blocks/variables';

.block-5 {
    margin-top: 100px;

    &__title {
        font-weight: 500;
        line-height: normal;
        font-size: 36px;
        text-align: right;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
    }

    &__slider {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;

        .swiper-container{
            flex: auto;
        }
    }

    &__nav{
        align-self: stretch;
        height: 434px;
        display: flex;
        position: relative;
    }

    &__arrow{
        margin-right: 57px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        img{
            transition: all ease-out 0.3s;
            user-select: none;
        }

        &_prev{
            &:hover{
                img{
                    transform: translateX(-10px);
                }
            }
        }
        
        &_next{
            &:hover{
                img{
                    transform: translateX(10px);
                }
            }
        }
    }

    &__slide {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__video {
        width: 713px;
        height: 434px;
    }

    &__subtitle {
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
    }

    &__text {
        max-width: 240px;
        margin-left: 24px;

        p {
            font-weight: normal;
            line-height: 19px;
            font-size: 14px;
            text-transform: uppercase;
            color: #959596;
            margin: 0;
            margin-top: 58px;
        }
    }
}