@import '../blocks/variables';

.block-7 {
    margin-top: 10px;
    flex: auto;

    &__slider {
        width: 100%;
        height: 500px;
        margin: 0;
    }

    .swiper-slide{
        background-size: cover;
        background-position: center;
    }
}